extends layout

block content
  h1= 'OnOff'
 
  div(class ='container')
   div(class='row')
    div(class='col-md-4')
     h2='Inputs'
     div(class='row')
      ul(class='input-list')
       li
        h3='Twitter'
       li
        h3='Facebook'
       li
        h3='Stuff'
    div(class='col-md-4')
     h2='Campaign'
    div(class='col-md-4')
     h2='Output'
     div(class='col-md-4')
      div(class='row')
       ul(class='output-list')
        li
         h3='Custom'
        li
         h3='Things'
        li
         h3='Base'



