extends layout

block content
  header(class='clickAdvance')
   div(class='header-image')
    img(src='/assets/Notifly_resized01.png')
  div(class ='container')
   div(class='row')
  
   div(class='row')
    div(class='col-md-2')
     div(class='row title-inputs')
      h2='Feeds'
     div(class='row')
      ul(class='input-list')
       li(data-id='Twitter')
        
        span(class='symbol')!='&#xe286;'
        h3='Twitter'
        
       li(data-id='Facebook')
        span(class='symbol')!='&#xe227;'
        h3='Facebook'
 
       li(data-id='Instagram')
        span(class='symbol')!='&#xe300;'
        h3='Instagram'

       li(data-id='Pintrest')
        span(class='symbol')!='&#xe264;'
        h3='Pintrest'

       li(data-id='Bing')
        span(class='symbol')!='&#xe210;'
        h3='Bing'

    div(class='col-md-7 campaign')
     div(class='row title-campaign')
      h2='Campaign'
     div(class='row')
      div(class='col-md-10 col-md-offset-1')
       div(class='row')
        button(class='add-button btn btn-default btn-lg')
         icon(class='glyphicon glyphicon-plus')
        h2(class='create-title')='Create a new Campaign'
       div(class='row campaign-item')
        h3='Name Campaign'
        div#submit-campaign(class='form-group', name='newCampaign', action='/addnewcampaign', method='post')
         h4='Campaign Name'
         input#campaignname(class='form-control', type='text', name='campaignNameInput', placeholder='campaign name')
         h4='Campaign Description'
         input#campaigndescription(class='form-control', type='text', name='campaignDescriptionInput', placeholder='description')
        div(class='add-chart')='Add an Input'
        div(class='campaign-chart')
        button#save(type='submit', class='submit btn btn-default') save
       div(class='row')
        div#results
         hr
         h2(class='results-title')="Campaigns"
         ul(class='results-list')

           li(class="selected")
            div(class="row")
             div(class="col-md-5")
              h3='Campaign Title'
             div(class="col-md-3 result-status")
              h3='Active'
             div(class="col-md-2 result-info")
              h3='80%'
             div(class="col-md-2 result-info")
              icon(class='open-btn glyphicon glyphicon-chevron-right')
            div(class="row results-expanded")

    div(class='col-md-3')

     div(class="row title-output")
      h2='Actions'
     div(class='row')
       ul(class='output-list')
        li(data-id='SMS')
         icon(class='glyphicon glyphicon-phone')
         h3='Send an SMS'
        li(data-id='Rocket')
         icon(class='glyphicon glyphicon-send')
         h3='Shoot a Rocket'
        li(data-id='Meter')
         icon(class='glyphicon glyphicon-fire')
         h3='Start Fireplace'
        li(data-id='Gauge')
         icon(class='glyphicon glyphicon-dashboard')
         h3='Update Gauge'
        li(data-id='Email')
         icon(class='glyphicon glyphicon-envelope')
         h3='Send an Email'
        li(data-id='Light')
         icon(class='glyphicon glyphicon-flash')
         h3='Turn on Light'
        li(data-id='Tweet')
         icon(class='glyphicon glyphicon-cloud')
         h3='Send a Tweet'




