extends layout

block content

 
  div(class ='container')
   div(class='row')
    header
     h1="OnOff"
   div(class='row')
    div(class='col-md-3')
     div(class='row title-inputs')
      h2='Inputs'
     div(class='row')
      ul(class='input-list')
       li(data-id='Twitter')
        
        span(class='symbol')!='&#xe286;'
        h3='Twitter'
        
       li(data-id='Facebook')
        span(class='symbol')!='&#xe227;'
        h3='Facebook'
 
       li(data-id='Stuff')
        span(class='symbol')!='&#xe227;'
        h3='Stuff'
    div(class='col-md-6 campaign')
     div(class='row title-campaign')
      h2='Campaign'
     div(class='row')
      div(class='col-md-10 col-md-offset-1')
       div(class='row')
        button(class='add-button btn btn-default btn-lg')
         icon(class='glyphicon glyphicon-plus')
        h2(class='create-title')='Create a new Campaign'
       div(class='row campaign-item')
        h3='Name Campaign'
        div#submit-campaign(class='form-group', name='newCampaign', action='/addnewcampaign', method='post')
         h4='Campaign Name'
         input#campaignname(class='form-control', type='text', name='campaignNameInput', placeholder='campaign name')
         h4='Campaign Description'
         input#campaigndescription(class='form-control', type='text', name='campaignDescriptionInput', placeholder='description')
         button#save(type='submit', class='btn btn-default') save
       div(class='row')
        div#results
         hr
         h2(class='results-title')="Campaigns"
          ul(class='results-list')
           li
            div(class="row")
             div(class="col-md-5")
              h3='Campaign Title'
             div(class="col-md-3 result-status")
              h3='Active'
             div(class="col-md-2 result-info")
              h3='Shit'
             div(class="col-md-2 result-info")
              icon(class='open-btn glyphicon glyphicon-chevron-right')
             div(class="results-expanded")
           li
            div(class="row")
             div(class="col-md-5")
              h3='Campaign Title'
             div(class="col-md-3 result-status")
              h3='Active'
             div(class="col-md-2 result-info")
              h3='Shit'
             div(class="col-md-2 result-info")
              icon(class='open-btn glyphicon glyphicon-chevron-right')
            div(class="row results-expanded")
    div(class='col-md-3')
     div(class="row title-output")
      h2='Output'
     div(class='row')
       ul(class='output-list')
        li(data-id='SMS')
         icon(class='glyphicon glyphicon-phone')
         h3='Send an SMS'
        li(data-id='Rocket')
         icon(class='glyphicon glyphicon-send')
         h3='Shoot a Rocket'
        li(data-id='Fire')
         icon(class='glyphicon glyphicon-fire')
         h3='Light it on Fire'





